.p3x-gitlist-overlay {
  i {
    font-size: 400% !important;
  }
  z-index: 999999;
  font-size: 125%;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  text-align:center;
  /*Flexbox*/
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.p3x-gitlist-dark {
  .p3x-gitlist-overlay {
//    background-color: fade($navbar-inverse-bg, 75%);
//    color: $navbar-inverse-color;
  }
}

.p3x-gitlist-light {
  .p3x-gitlist-overlay {
//    background-color: fade($navbar-default-bg, 75%);
//    color: $navbar-default-color;
  }

}