{% extends 'layout-page.twig' %}

{% set page = 'commits' %}

{% block title %}P3X GitList{% endblock %}

{% block content %}
    {% embed 'breadcrumb.twig' with {breadcrumbs: [{dir: 'Commit history', path:''}]} %}

        {% block left %}

            {% if file != '' %}

                {% if binary %}
                    <a href="{{ path('blob_raw', {repo: repo, commitishPath: branch ~ '/' ~ file}) }}"
                       class="btn btn-info btn-sm"><span class="fas fa-download"></span> Download</a>
                {% else %}
                    <a href="{{ path('blob_raw', {repo: repo, commitishPath: branch ~ '/' ~ file}) }}"
                       class="btn btn-info btn-sm"><span class="fas fa-download"></span> Raw</a>
                {% endif %}

                <a href="{{ path('blame', {repo: repo, commitishPath: branch ~ '/' ~ file}) }}"
                   class="btn btn-default btn-sm"><span class="fa fa-fire"></span> Blame</a>

                <a class="btn btn-default btn-sm" href="{{ path('blob', {repo: repo, commitishPath: branch ~ '/' ~ file}) }}"> <span class="far fa-file"></span> View</a>

            {%  endif %}

        {% endblock %}

    {% endembed %}

    {% include 'commits-list.twig' %}

{% endblock %}
