<div class="panel panel-default">
    <div class="panel-heading"><i class="fas fa-book"></i>&nbsp;&nbsp;{{ filename }}</div>
    <div class="panel-body" id="p3x-gitlist-readme">{{ data }}</div>
</div>
