{% extends 'layout-page.twig' %}

{% set page = 'searchcommits' %}

{% block title %}P3X GitList{% endblock %}

{% block content %}

    {% embed 'breadcrumb.twig' with {breadcrumbs: [{dir: 'searchcommits.title'|t ~ ' ' ~ query, path:''}]} %}

        {% block left %}
            {% if commits %}
                <span class="badge bg-info">Commit: {{ commits | length }}</span>
            {% endif %}
        {% endblock %}

    {% endembed %}


    {% include 'commits-list.twig' %}

{% endblock %}
