<table>
    {% for line in diff.getLines %}
    <tr>
        <td class="lineNo">
            {% if line.getType != 'chunk' %}
            <!--                                <a id="{{ diff.index  | to_id }}L{{ loop.index }}R{{ line.getNumOld }}"></a> -->
            <!--                                <a href="#{{ diff.index  | to_id }}L{{ loop.index }}R{{ line.getNumOld }}"> -->
            {% endif %}
            {{ line.getNumOld }}
            {% if line.getType != 'chunk' %}
            <!--                                </a> -->
            {% endif %}
        </td>
        <td class="lineNo">
            {% if line.getType != 'chunk' %}
            <!--                                <a id="{{ diff.index  | to_id }}L{{ loop.index }}L{{ line.getNumNew }}"></a> -->
            <!--                                <a href="#{{ diff.index | to_id }}L{{ loop.index }}L{{ line.getNumNew }}"> -->
            {% endif %}
            {{ line.getNumNew }}
            {% if line.getType != 'chunk' %}
            <!--                                </a> -->
            {% endif %}
        </td>
        <td style="width: 100%">
            <pre{% if line.getType %} class="{{ line.getType }}"{% endif %}>{{ line.getLine }}</pre>
        </td>
    </tr>
    {% endfor %}
</table>
