<div ng-if="!diff" style="opacity: 0.5; margin: 20px; font-size: 125%;">
    <i class="fas fa-cog fa-spin"></i> Hang on, rendering a possible huge diff ...
</div>

<div style="max-height: {{ $root.gitlist.editorMaxHeight }}px; overflow-y: auto;">
    <table id="p3x-gitlist-commit-diff-ng-table" ng-if="diff" style="min-width: 100%; max-width: 100%">
        <tr>
            <td class="lineNo">Old</td>
            <td class="lineNo">&nbsp;&nbsp;</td>
            <td class="old">{{diff.old}}</td>
        </tr>
        <tr>
            <td class="lineNo">&nbsp;&nbsp;</td>
            <td class="lineNo">New</td>
            <td class="new">{{diff.new}}</td>
        </tr>
        <tr ng-repeat="lineInfo in diff.lines">
            <td class="lineNo">
                {{showNumber(lineInfo) ? lineInfo['num-old'] : '&nbsp;&nbsp;'}}
            </td>
            <td class="lineNo">
                {{showNumber(lineInfo) ? lineInfo['num-new'] : '&nbsp;&nbsp;'}}
            </td>
            <td style="width: 100%">
                <pre class="{{lineInfo.type}}">{{lineInfo.line}}</pre>
            </td>
        </tr>
    </table>
</div>
