.repository {
  margin-bottom: 20px;
  border: 1px solid #e7e7e7;
}
.repository .repository-header {
  border-bottom: 1px solid #e7e7e7;
  padding: 10px;
  font-size: 14px;
  font-weight: 700;
}
.repository .repository-header span.rss-icon {
  font-size: 24px;
}
.repository .repository-header > .fa {
  margin-right: 8px;
}
.repository .repository-body {
  padding: 6px 12px;
  background-color: #f8f8f8;
  color: #777;
}
.repository .repository-body p {
  margin: 0;
}
.tree {
  border: 1px solid #e7e7e7;
  border-radius: 4px;
}
.tree > thead > tr > th {
  background-color: #f8f8f8;
  color: #777;
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: bottom;
  border-bottom: 1px solid #e7e7e7;
}
.tree tbody td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid #eeeeee;
}
.tree tbody td > .fa {
  margin-right: 8px;
}
.tree caption + thead tr:first-child th,
.tree caption + thead tr:first-child td,
.tree colgroup + thead tr:first-child th,
.tree colgroup + thead tr:first-child td,
.tree thead:first-child tr:first-child th,
.tree thead:first-child tr:first-child td {
  border-top: 0;
}
.tree tbody tr:last-child td {
  border-bottom: 0;
}
.source-view {
  width: 100%;
  border: 1px solid #e7e7e7;
  display: block;
}
.source-view .source-header .meta {
  font-weight: bold;
  font-size: 125%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  width: 100%;
  text-align: right;
}
.source-view a,
.source-view a:hover {
  text-decoration: none !important;
}
.source-view .source-diff {
  max-width: 100%;
  min-width: 100%;
  overflow-x: auto;
}
.source-view .source-diff pre {
  margin: 0;
  padding: 0 0 0 6px;
  border: none;
  border-radius: 0;
  overflow: hidden;
}
.source-view .source-diff pre:hover {
  background-color: #d9edf7;
  color: #31708f;
}
.source-view .source-diff table td {
  padding: 0;
}
.source-view .source-diff .new {
  background-color: #dff0d8;
  color: #3c763d;
}
.source-view .source-diff .old {
  background-color: #f2dede;
  color: #a94442;
}
.source-view .source-diff .chunk {
  background-color: #f8f8f8;
  color: #777;
}
.source-view .source-diff .lineNo {
  background-color: #fff;
  color: #222;
  padding: 0 6px;
  text-align: right;
  border-right: 1px solid #ddd;
  font-family: monospace;
}
.source-view #sourcecode {
  width: 100%;
}
.source-view .image-blob {
  padding: 10px;
  max-width: 100%;
}
.blame-view td.blame-line pre {
  overflow-x: auto;
  white-space: pre-wrap;
}
.commits {
  border: 1px solid #e7e7e7;
}
.commits > thead > tr > th {
  background-color: #f8f8f8;
  color: #777;
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: bottom;
  border-bottom: 1px solid #e7e7e7;
}
.commits tbody td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.commits h4,
.commits h5,
.commits h6 {
  margin-top: 0;
  margin-bottom: 5px;
}
.commit-list {
  list-style-type: none;
}
.commit-list li {
  padding: 8px 5px 8px 5px;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #f4f4f4;
}
.commit-list li .meta {
  font-weight: normal;
  font-size: 14px;
  color: #777777;
}
.commit-list li:last-child {
  border-bottom: 0;
  margin-bottom: 25px;
}
.stats {
  border: 1px solid #e7e7e7;
  border-radius: 4px;
}
.stats > thead > tr > th {
  background-color: #f8f8f8;
  color: #777;
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: bottom;
  border-bottom: 1px solid #e7e7e7;
}
.stats tbody td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid #eeeeee;
}
.stats tbody td > .fa {
  margin-right: 8px;
}
.stats caption + thead tr:first-child th,
.stats caption + thead tr:first-child td,
.stats colgroup + thead tr:first-child th,
.stats colgroup + thead tr:first-child td,
.stats thead:first-child tr:first-child th,
.stats thead:first-child tr:first-child td {
  border-top: 0;
}
.stats tbody tr:last-child td {
  border-bottom: 0;
}
.readme-view {
  border: 1px solid #e7e7e7;
}
.md-view {
  width: 100%;
  margin-bottom: 1.42857143;
}
.md-header {
  padding: 16px;
  background-color: #f8f8f8;
  color: #777;
  line-height: 1.42857143;
  border-bottom: 1px solid #f4f4f4;
  font-weight: bold;
}
#md-content {
  padding: 10px 16px;
  color: #333333;
}
.treegraph-button {
  display: inline-block;
  min-width: 80px;
  text-align: right;
  background-color: #d9edf7;
  color: #31708f !important;
  padding-right: 2px;
}
.network-view {
  width: 100%;
  margin-bottom: 1.42857143;
  position: relative;
}
.network-view.loading-commits:before {
  content: "";
  display: block;
  height: 100px;
  width: 200px;
  box-sizing: border-box;
  padding: 10px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -50px;
  z-index: 2000;
}
.network-view.loading-commits .network-header .meta:after {
  content: " - Loading";
}
.network-view pre {
  margin: 0;
  padding: 12px;
  border: none;
}
.network-view .network-graph {
  height: 400px;
  overflow: hidden;
  cursor: move;
  position: relative;
  border: 1px solid #ddd;
}
.network-view .network-graph .network-commit-overlay {
  position: absolute;
  width: 400px;
  top: 0;
  left: 0;
  padding: 8px;
  margin: 0 0 1.42857143;
  list-style: none;
  background-color: #f8f8f8;
  color: #777;
}
.network-view .network-graph .network-commit-overlay a,
.network-view .network-graph .network-commit-overlay a:active {
  background-color: #f8f8f8;
  color: #9d9d9d;
}
.network-view .network-graph .network-commit-overlay img {
  float: left;
  margin-right: 10px;
}
#clone-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}
#clone-popup > #clone-popup-inner-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -60px 0 0 -300px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: content-box;
  width: 560px;
  height: 80px;
  text-align: center;
  background-color: #f8f8f8;
  color: #777;
}
#clone-popup > #clone-popup-inner-wrapper > .btn-group {
  display: inline-block;
  margin-bottom: 10px;
}
#clone-popup > #clone-popup-inner-wrapper > .form-control {
  width: 95%;
}
#clone-popup > #clone-popup-inner-wrapper > .form-control {
  display: inline-block;
}
#clone-popup > #clone-popup-inner-wrapper > .form-control:not(.visible) {
  display: none;
}
.header {
  margin-bottom: 20px;
}
.breadcrumb {
  padding: 10px 16px;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
}
.download-buttons {
  display: inline;
}
.download-buttons .rss-icon {
  padding-left: 16px;
  font-size: 24px;
}
.space-right {
  padding: 0 8px 0 0;
}
span.rss-icon {
  color: #d9534f;
  font-size: 18px;
}
span.rss-icon:hover {
  color: #b52b27;
}
.p3x-gitlist-markdown-heading-container {
  position: relative;
}
a.p3x-gitlist-markdown-heading-link {
  display: none;
  font-size: inherit;
  text-decoration: none !important;
}
.p3x-gitlist-markdown-image {
  max-width: 100%;
}
img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}
