{% extends 'layout_page.twig' %}

{% set page = 'commits' %}

{% block title %}P3X GitList{% endblock %}

{% block content %}
    {% embed 'breadcrumb.twig' with {breadcrumbs: [{dir: 'Blame', path:''}, {dir: file, path:''}]} %}

        {% block left %}
            {% if blames %}
                <button type="button" class="btn btn-primary btn-sm">Blames found: {{ blames | length }}</button>
            {% endif %}
        {%  endblock %}

    {% endembed %}
    {% if blames %}

        {% for blame in blames %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="far fa-file-alt"></span>&nbsp;&nbsp; <a href="{{ path('commit', {repo: repo, commit: blame.commit}) }}">{{ blame.commitShort }}</a>
                </div>
                <div class="panel-body p3x-gitlist-search-match">{{ blame.line }}</div>
            </div>
        {% endfor %}
    {% else %}
        <h4>
            The blames.
        </h4>
    {% endif %}






{% endblock %}
