{% extends 'layout_page.twig' %}

{% set page = 'commits' %}

{% block title %}P3X GitList{% endblock %}

{% block content %}
    {% include 'breadcrumb.twig' with {breadcrumbs: [{dir: 'Blame', path:''}]} %}

    <div class="source-view">
        <div class="source-header">
            <div class="meta">{{ file }}</div>
        </div>
        <table class="table blame-view">
        {% for blame in blames %}
            <tr>
                <td class="blame-info commit"><a href="{{ path('commit', {repo: repo, commit: blame.commit}) }}">{{ blame.commitShort }}</a></td>
                <td class="blame-line"><pre>{{ blame.line }}</pre></td>
            </tr>
        {% endfor %}
        </table>
    </div>


{% endblock %}
