{% extends 'layout.twig' %}
{% block title %}P3X GitList{% endblock %}

{% block body %}
{% include 'navigation.twig' %}

<div class="container">

    <div class="alert alert-danger">
        <strong>Oops!</strong> {{ message }}
    </div>

    <a class="btn btn-info btn-block" href="#" onclick="location = document.referrer">You may go back to previous page.</a>

    {% include 'footer.twig' %}
</div>
{% endblock %}
