{% extends 'layout.twig' %}
{% block title %}P3X GitList{% endblock %}

{% block body %}
{% include 'navigation.twig' %}

<div class="container" id="repositories">
    <div class="search form-group">
        <div class="input-group">
            <input class="search form-control" name="query-repo" placeholder="Search repositories" autofocus value=""/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="p3x-gitlist-repo-list-clear">
                    <i class="fas fa-times"></i>
                </button>
            </span>
        </div>
    </div>

    <div class="list">
        {% for repository in repositories %}
            <div class="repository">
                <div class="repository-header">
                    <i class="fas fa-cube"></i>
                    <a href="{{ path('repository', {repo: repository.name}) }}">
                       <span class="name">{{ repository.name | remove_extension }}</span>
                   </a>
                    <a href="{{ path('rss', {repo: repository.name, branch: 'master'}) }}"><span class="fa fa-rss pull-right"></span></a>
                </div>
                <div class="repository-body">
                    {% if repository.description %}
                        <p>{{ repository.description }}</p>
                    {% else %}
                        <p>There is no repository description file. Please, create one to remove this message.</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>



    {% include 'footer.twig' %}
</div>
{% endblock %}
