{% extends 'layout_page.twig' %}

{% set page = 'network' %}

{% block title %}P3X GitList{% endblock %}

{% block content %}
    {% include 'breadcrumb.twig' with {breadcrumbs: [{dir: 'Network Graph of master', path:''}]} %}

	<div class="network-view">
		<div class="network-graph" data-source="{{ path('networkData', {repo: repo, commitishPath: commitishPath}) }}">
		{#<div class="network-graph" data-source="/dummynetwork.json">#}

		</div>
	</div>

	


{% endblock %}
