
#p3x-gitlist-main-tabs-container {
    @media only screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        #p3x-gitlist-main-tabs-browser {
            margin-bottom: 0 !important;
        }

        #p3x-gitlist-main-tabs {
            flex-grow: 1;
        }
    }
}

#p3x-gitlist-main-tabs {
    align-items: center;

    .nav-item {
        margin-bottom: 2px;
        position: relative;
        white-space: nowrap;
    }

    .nav-link {
        padding: 0.375rem 0.75rem;

        @media only screen and (max-width: 991px) {
            padding: 0.3rem 0.5rem;
            font-size: 0.85rem;
        }
    }

    @media only screen and (max-width: 767px) {
        flex-direction: column !important;

        .nav-item {
            width: 100%;
        }

        .nav-link {
            text-align: left;
        }
    }

    a:hover .fa, a:hover .fas, a:hover .fab {
        transition-duration: 250ms;
        transition-property: transform;
        transform: scale(1.2) rotate(360deg);
    }

    .fa, .fas, .fab {
        top: 2px;
    }
}
