@import "../../node_modules/snackbarjs/src/snackbar";
@import "../../node_modules/snackbarjs/themes-less/material";

#snackbar-container {
  left: auto !important;
  right: 20px !important;
}

@media (max-width: 767px) {
  #snackbar-container {
    left: 0px !important;
    right: 0px !important;
    width: 100%;
    .snackbar {
      min-width: 100%;
    }
    [class="snackbar snackbar-opened"] ~ .snackbar.toast {
      margin-top: 20px;
    }
    [class="snackbar snackbar-opened"] {
      border-radius: 0;
      margin-bottom: 0;
    }
  }
}

.p3x-gitlist-button {
  .btn {
    margin-bottom: @padding-base-vertical !important;
  }
}


.p3x-gitlist-light {
  .CodeMirror {
    border: 1px solid @gray-lighter;
  }
}

.p3x-gitlist-dark {
  .CodeMirror {
    border: 1px solid @navbar-default-bg !important;
  }
}

.p3x-gitlist-dark {
  #snackbar-container > div {
    border: 1px solid @navbar-default-border;
  }

  code {
    overflow-x: auto;
    white-space:pre-wrap;
  }

  code.p3x-gitlist-code {
    background-color: lighten(@navbar-inverse-bg, 5%);
    color: @navbar-inverse-color;
    border-color: @navbar-inverse-border;
  }
}

.p3x-gitlist-markdown-heading-container {
  position: relative;
}

a.p3x-gitlist-markdown-heading-link {
  display: none;
  font-size: inherit;
  text-decoration: none !important;
}

.p3x-gitlist-markdown-image {
  max-width: 100%;
}

.p3x-gitlist-breadcrumb-divider {
  min-height: @padding-base-vertical;
  display: block;
  clear: both;;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

.p3x-list-item-header {
  font-weight: bold !important;
}

.breadcrumb {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@import "index";
@import "clone-button.less";
@import "footer";
@import "main-tabs";
@import "treegraph";
@import "file";
@import "markdown";
@import "browser";
@import "overlay";
@import "search";
@import "codemirror";