.p3x-gitlist-light {
    @import (less) '../../../node_modules/highlight.js/styles/github.css';


}

.p3x-gitlist-dark {
    @import (less) '../../../node_modules/highlight.js/styles/base16/dracula.css';

}

#p3x-gitlist-readme, .p3x-gitlist-readme {
    pre {
        padding: 0;
    }
}


.p3x-gitlist-markdown-clear-fix {
    pre, code {
        padding: 0;
        border: none;
        margin: 0;
        text-align: left;
    }
}
