#p3x-gitlist-main-tabs * {
  margin-bottom: 2px;
  a:hover > svg.svg-inline--fa {
    transition-duration: 250ms;
    transition-property: transform;
    transform: scale(1.1) rotate(360deg);
  }
  svg.svg-inline--fa {
    padding-top: 4px;
  }
}