.p3x-gitlist-navigation-brand-icon {

}


#p3x-gitlist-navigation-brand-icon-pure {
  height: @navbar-height - 16px;
  width: auto;
  top: 8px;
  position: absolute;
}

#p3x-gitlist-navigation-brand-icon {
  height: @navbar-height - @navbar-margin-bottom - 2px;
  width: auto;
  display: inline-block;
}

#p3x-gitlist-navigation-brand-icon-title {
  display: inline-block;
  margin-left: 36px;
}